.product-central-area {
    width: 75%;
}
.product-central-area .product-media-area {
    width: 40%;
}

.product-central-area .product-description-area {
    width: 60%;
    padding: 10px;
}

.product-central-area .image-area img {
    width: 100%;
}
.product-central-area .image-area .gallery .gallery-item {
    width: calc(100% / 3);
    padding: 5px;
}
.product-central-area .image-area .gallery .gallery-item img {
    width: 100%;
}

.selected-image {
    background-color: sandybrown;
}